body {
  font-family: sans-serif;
  padding: 0 20px;
  background-image: var(--gradient);
  background-repeat: no-repeat;
  min-height: calc(500px);
}

:root {
  --primary-color: #c5aee2;
  --secondary-color: #07060b;
  --accent-color: #b3bde1;
  --gradient: linear-gradient(to top, white 0%, #e3c5ea 100%);
  --box-shadow: #394f85;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
.platform {
  color: var(--secondary-color);
}

.hero {
  text-align: center;
  font-family: Verdana;
  padding: 10%;
  margin: 0 auto;
  background: var(--accent-color);
  font-style: italic;
}

.hero h1 {
  font-size: 100px;
}

h3 {
  font-style: italic;
}

.sr-only {
  font-style: italic;
}

.contact-page {
  font-style: italic;
  padding: 20px;
}

.projects {
  padding-bottom: 10%;
}

.container {
  padding-top: 5%;
  padding-bottom: 10%;
}

.aboutme {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.myimage {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  border: 2px solid var(--box-shadow);
  width: 600px;
  padding: 30px;
  margin: 10px auto;
}

.links {
  list-style: none;
}

#button {
  border: var(--box-shadow);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#app {
  text-align: center;
  padding-top: 40px;
}

.desc {
  background: var(--accent-color);
  padding: 40px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.intro,
.jportintro {
  text-align: center;
  font-size: 25px;
  margin: 30px;
  color: #07060b;
  padding: 30px;
}

#social {
  padding: 20px;
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 45px;
  }
  img {
    display: none;
  }
}
